@model LeagueManager.Data.Tournament
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-xs-12">
        <table border="1">
            <tr>
                <td colspan="3"></td>
                <td>@Model.TournamentGames.Single(tg => tg.Tag == "1-8").ParticipantA.Display</td>
                <td colspan="3"></td>
            </tr>
        </table>
    </div>
</div>
